/* Base Application Styles */

/* HEADER ADJUSTMENTS */

.ui.vertical.segment.fitted:first-of-type {
    padding: 1.5em 0 0;
}

.ui.header {
    margin: 0 0 1rem;
}

.sub.header {	
	margin: 1.5em 0 0.5em !important;
   	line-height: 1.44em;
}

.ui.header .sub.header {
    font-family: Georgia,serif;
    font-weight: 500;
    line-height: 1.25em;
}
.ui.header .sub.header {
    font-size: 1.35294118rem;
}

.ui.header .sub.header {
    display: block;
    font-weight: 400;
    padding: 0;
    margin: 0;
    line-height: 1.2em;
    color: rgba(0,0,0,.6);
}

@media (max-width: 600px) {
	h1.ui.header {
	    font-size: 2.005rem;
	}
	.sub.header {	
		margin: 1em 0 1em !important;
	}
}



/* END HEADER ADJUSTMENTS */


/* CONTENT */

.sans {
  font-family: Benton Sans Cond,Source Sans Pro,Helvetica Neue,Arial,Helvetica,sans-serif !important;
}

.text.container h5 {
  margin-bottom: 0;
}

.spain {
  border-bottom: 2px solid #fff;
}

.catalonia {
  border-bottom: 2px solid #fcc836;
}

.message {
  color: #fff !important;
  background: #222 !important;
}
.message .header {
  color: #fff !important;
}

.ui.vertical.top-graphic.segment {
    margin-top: 2.4em;
    padding-top: 3em;
    padding-bottom: 0;
    -webkit-box-shadow: inset 0px 12px 12px -2px rgba(0,0,0,.33);
    -moz-box-shadow: inset 0px 12px 12px -2px rgba(0,0,0,.33);
    box-shadow: inset 0px 12px 12px -2px rgba(0,0,0,.33);
}

.ui.inverted.segment, .ui.primary.inverted.segment {
    background: #353535 !important;
}

svg.defs-only {
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
}

.ui.message.narrow {
 max-width: 480px !important;
 margin: 0 auto;
}

h3 {
	font-size: 1.4em !important;
	font-family: Benton Sans Cond,Source Sans Pro,Helvetica Neue,Arial,Helvetica,sans-serif !important;
	font-weight: 700 !important;
	line-height: 1.1em !important;
	display: inline-block !important;
  border-bottom: none !important;
}

.regular {
  font-weight: 300;
  font-size: 0.8em;
}

h4 {
	font-size: 1.1em;
  font-family: Benton Sans Cond,Source Sans Pro,Helvetica Neue,Arial,Helvetica,sans-serif;
  font-weight: 500;
	line-height: 1.3em;
  margin-bottom: 0.2em;
  padding-top: 0.4em;
  text-align: center;
}

h5 {
	font-size: 1.2em;
	font-family: Benton Sans Cond,Source Sans Pro,Helvetica Neue,Arial,Helvetica,sans-serif;
	font-weight: 700;
	line-height: 1em;
	padding-bottom: 0;
  padding-top: 0;
  border-bottom: none;
}

.ui.chart.container {
  margin-top: 3em;
  border-top: 1px solid #ccc;
  padding-top: 0.3em;
}

.ui.chart.container h3 {
  margin-top: 0;
}

.ui.chart.container .description.column {
  padding-top: 1em;
}

.audioplayer {
  margin-right: 0.4em;
  float: left;
}

.katalonien .audioplayer .ui.red.button {
  background-color: #fcc836;
}

.spanien .audioplayer .ui.red.button {
  background-color: #fff;
}

.audioplayer .icon {
  color: #333;
}

.audio-label {
  padding: 0.5em 0 !important;
}


.ui.circular.button > .play.icon {
  padding-left: 0.15em;
}

.ui.yellow.label, .ui.yellow.labels .label {
  background-color: none !important;
}

.ui[class*="very basic"].table:not(.sortable):not(.striped) td:first-child, .ui[class*="very basic"].table:not(.sortable):not(.striped) th:first-child {
  color: #333 !important;
}

.ui[class*="very basic"].table:not(.sortable):not(.striped) td:last-child, .ui[class*="very basic"].table:not(.sortable):not(.striped) th:last-child {
  color: #333 !important;
}

.ui.padded.grid:not(.vertically):not(.horizontally) {
  color: white !important;
}

.ui.yellow.label, .ui.yellow.labels .label {
  background-color: transparent !important;
}

aside.feedback {
    padding: 0 !important;
}

aside a {
    color: #007abf !important;
}

@media only screen and (max-width: 899px) {
  .ui.chart.container h3 {
    margin-top: 0.8em;
  }
  .ui.doubling.grid>.row>.column, .ui.grid>.doubling.row>.column {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
  }

  .ui.doubling.grid.vanished-glaciers>.row>.column, .ui.grid.vanished-glaciers>.doubling.row>.column {
      padding-bottom: 1em !important;
  }
}

@media screen and (max-width: 1200px) {
   aside {
   		font-size: 0.95em !important;
	}
}

@media screen and (min-width: 1200px) {
	aside {
   		padding-top: 1em;
	}
}


.mobile.only .column.wide.centered {
	padding: 4.5%;
}



/* FOOTER ADJUSTMENTS */

footer {
  background-color: #f5f5f5 !important;
  border-top: 1px solid #FFF !important;
  color: #333 !important;
}

footer a {
  color: #1D5F82 !important;
}


footer .icon.message {
  background: transparent;
}

.ui.buttons:not(.basic):not(.inverted)>.button, .ui.buttons>.ui.button:not(.basic):not(.inverted) {
	color: #1D5F82 !important;
}

footer .column table tr td:first-child {
  	font-family: Benton Sans Cond,Source Sans Pro,Helvetica Neue,Arial,Helvetica,sans-serif;
  	font-weight: 700;
  	font-size: 0.92em;
  	line-height: 1.4em;
  }

footer .teaser-section {
  text-align: center;
  border-bottom: 1px solid rgba(34,36,38,.15);
}

footer .portfolio-teaser {
  width: 55%;
}


@media screen and (max-width: 599px) {
  footer .portfolio-teaser {
    width: 100%;
    padding: 0.5em 0;
  }
  footer .teaser-section {
  border-bottom: none;
  }
 footer table.infographic tr td {
    text-align: center !important;
  }
  .CopyrightNotice {
    text-align: center;
    padding-top: 0.5em !important;
  }
  footer.ui.vertical.segment {
    padding-top: 1.5em !important;
  }
  footer .ui.stackable.divided:not(.vertically).grid>.row>.column {
    padding-top: 1em !important;
    padding-bottom: 0.5em !important;
  }
  footer .ui.table:not(.unstackable) tr, .ui.table:not(.unstackable) tr {
    padding-top: 1em !important;
    width: 100%;
  }
  footer .ui.table:not(.unstackable) tr>td, .ui.table:not(.unstackable) tr>th {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  footer .column table tr td {
  	display: block;
  	padding: 0 1em;
  }
  .ui.table:not(.unstackable) tr>th, footer .ui.table:not(.unstackable) tr>td {
  	text-align: center !important;
  	padding-bottom: 0.3em !important;
  }
  footer .column table tr {
  	text-align: center;
  	display: inline-block;
  	margin-bottom: 1em !important;
  }
}

@media screen and (min-width: 599px) {
	footer .column table {
    	margin-top: 1em;
  	}
  	footer .column table tr td {
    	vertical-align: top;
    	padding-bottom: 1em;
  	}
  	footer .column table tr td:first-child {
	  	padding-right: 1em;
	  }
}
